[project]
name = "vega_baseline-vega-altair-06"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "lxml>=6.0.2",
    "pillow>=12.0.0",
    "playwright>=1.57.0",
]
